label {
color: #B4886B;
font-weight: bold;
display: block;
width: 30%;
float: left;
}


select {
font-weight: bold;
display: block;
width: 50%;
}

button {
font-weight: bold;
width: 50%;
height: 38px;
}

html,
body {
    width: 100%;
    height: 100%;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
}

.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

.custom-combobox {
    position: relative;
    display: inline-block;
	
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.ui-widget{
    text-align:center;	
	
	
}

.showresult {
  float: center;
  position: absolute;
  top: 100%;
}