label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}


select {
font-weight: bold;
display: block;
width: 325px;
}

button {
font-weight: bold;
display: block;
width: 100px;
}

